*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html
/config/initializers/secret_token.rb
/config/master.key
/config/credentials/*.key
/.bundle
/vendor/bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
.byebug_history
/public/assets
.env
.env.local

# Ignore master key for decrypting credentials and more.
/config/master.key
.gitlab.pwd
.gitlab.pwd
